#logins,
.da-login-form *,
.da-login-form + p,
#version,
#lang, 
.logout {
	display: none;
}

.da-login-form::before {
	content: 'Connecting to the database...';
	font-size: 20px;
	color: #333;
}

form table {
	margin-bottom: 15px;
}

h3#indexes {
	margin-top: 30px;
}

#menu {
	background: #fafafa;
	border-right: 1px solid #eee;
}

#menu h1 {
	display: none;
}

#menu form {
	margin-top: 16px;
}

#tables {
	border-top: 1px solid #eee;	
}

#tables a.select {
	color: #ccc;
}

#tables li:hover a.select {
	color: #2e84e4;
}

#menu #dbs {
	padding: 0 15px;
}

#menu #dbs,
#menu p.links {
	background: #f5f5f5;
	border-color: #eee;
}

#menu #dbs span {
	color: #f5f5f5;
}

#tables {
	margin: 8px -15px 16px !important;
	top: 105px !important;
}

#content {
	margin-left: 372px;
	padding: 50px 0 20px;
}

#breadcrumb {
	left: 372px;
	color: #999;
}

#breadcrumb a {
	text-decoration: none;
}

#breadcrumb a:hover {
	color: #2e84e4;
	text-decoration: underline;
}

#content h2 {
	margin-bottom: 8px;
	font-size: 1.5em;
}

#content h3 {
	font-size: 1.25em;
}

#content p.links a {
	display: inline-block;
	padding: 8px 0;
	margin-right: 16px;
}

#content p.links a.active {
	border: none;
	background: transparent;
}

#content p.links a.active,
#tables a.active.structure,
#tables a.active + a {
	color: #34567c;
	font-weight: bold;	
}

#tables a:hover, 
#tables a:hover + a, 
#tables a.active, 
#tables a.active + a {
	background: #fff;
	padding: 5px 15px;
	border-top: 1px solid #eee;
	border-bottom: 1px solid #eee;
}

.loadmore {
	margin-left: 0;
}

.size {
	width: 5em;
}

p code.jush-sql {
	display: inline-block;
	background: #f5f5f5;
}

#form fieldset {
	min-height: 60px;
	margin: 0 0 4px;
}

table.checkable {
	border: 1px solid #ddd;
}

thead td, 
thead td a, 
thead td a:link:hover, 
thead td a:visited, 
thead td a:visited:hover, 
thead th, 
thead th a, 
thead th a:link:hover, 
thead th a:visited, 
thead th a:visited:hover {
	color: #000;
}

th, td {
	border-bottom: 1px solid #ddd;
}

thead td, thead th {
	background: #f5f5f5;
	color: #000;
	border-bottom: 1px solid #ddd;
}

.js .column {
	background: #f5f5f5;
}

.odd th, .odd td {
	background: none;
}

table.checkable tbody tr:hover td, 
table.checkable tbody tr:hover th {
	background: #f3fafd;
}